<!-- ko allowBindings: true -->
<div class="jog-panel" id="monitorControl" style="display: none;">
    <h1>Monitor</h1>
    <div>
        Lights<br/>
        State: <span id="light_state">{{ plugin_monitor_light_state }}</span><br/>
        Level:<span id="lux">{{ plugin_monitor_lux }}</span><br/>
        <button class="btn btn-block control-box" data-bind="click: sendLightToggleCommand">{{ _('Toggle') }}</button>

        Environment<br/>
        Inside:<span id="temp_internal">{{ plugin_monitor_temp_internal }}</span><br/>
        Ambient:<span id="temp_external">{{ plugin_monitor_temp_external }}</span><br/>
        Humidity:<span id="humidity">{{ plugin_monitor_humidity }}</span><br/>
    </div>
</div>
<!-- /ko -->
